//- DATA :: START

-
  var dataObj = {
    navHeader: [
      {
        href: '#',
        name: 'Dr. MirkaL'
      },
      {
        href: '#',
        name: 'Services'
      },
      {
        href: '#',
        name: 'Results'
      },
      {
        href: '#',
        name: 'Testimonials'
      },
      {
        href: '#',
        name: 'Patients'
      },
      {
        href: '#',
        name: 'Contact'
      }
    ],
    navFooter: [
      {
        href: "#",
        name: "Home"
      },
      {
        href: "#",
        name: "|"
      },
      {
        href: "#",
        name: "Meet Dr. Mirkal"
      },
      {
        href: "#",
        name: "|"
      },
      {
        href: "#",
        name: "Services"
      },
      {
        href: "#",
        name: "|"
      },
      {
        href: "#",
        name: "Results"
      },
      {
        href: "#",
        name: "|"
      },
      {
        href: "#",
        name: "Testimonials"
      },
      {
        href: "#",
        name: "|"
      },
      {
        href: "#",
        name: "Patient Info"
      },
      {
        href: "#",
        name: "|"
      },
      {
        href: "#",
        name: "Blog"
      },
      {
        href: "#",
        name: "|"
      },
      {
        href: "#",
        name: "Contact"
      }
    ],
    social: []
  };

//- DATA :: END