// COMMON :: START

// title
.title {
  color: #074809;
  line-height: 1;
  text-align: center;
  font-size: 48px;
  font-weight: normal;
  font-family: 'Playfair Display', serif;
  @include respond(max-large) {
    font-size: 42px;
  }
  @include respond(max-small) {
    font-size: 38px;
  }
}
// title :: end

// address
.address {
  &__title {
    padding-bottom: 15px;
    color: #fffcf4;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
  }

  &__text,
  &__link {
    color: #858380;
  }

  &__text {
    padding-bottom: 15px;

    span {
      display: block;
    }
  }

  &__link {
    @include transition(color);

    &:hover {
      color: $c-white;
      @include transition(color);
    }
  }
}
// address :: end

// social
.social {
  &__title {
    padding-bottom: 15px;
    color: #fffcf4;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    border-radius: 100%;
    border: 1px solid $c-white;
    background-color: transparent;
    @include transition(border-color);

    &:hover {
      border-color: #858380;
      @include transition(border-color);

      i {
        color: #858380;
        @include transition(color);
      }
    }

    i {
      color: $c-white;
      @include transition(color);
    }
  }
}
// social :: end

// copyright
.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 70px;

  &__text {
    color: $c-white;
    text-transform: uppercase;
    text-align: center;
    font-size: 11px;

    a {
      @include transition(color);

      &:hover {
        color: #858380;
        @include transition(color);
      }
    }
  }
}
// copyright :: end

// COMMON :: END