---
title: Prime Integrative Dentistry

contentClassName: banner
dataPageName: banner
---
extends shared/_layout

block content
  div(class!= contentClassName)

    include components/_banner
    include components/_description
