---
title: Prime Integrative Dentistry

contentClassName: home
dataPageName: index
---
extends shared/_layout

block content
  div(class!= contentClassName)

    include components/_main
    include components/_product
    include components/_about
    include components/_testimonials
    include components/_blog
